@font-face {
    font-family:'Raleway Bold';
    src: url('../../fonts/Raleway Bold.eot');
	src: url('../../fonts/Raleway Bold.woff2') format('woff2'),
		url('../../fonts/Raleway Bold.woff') format('woff'),
		url('../../fonts/Raleway Bold.ttf') format('ttf'),
		url('../../fonts/Raleway Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Raleway ExtraLight';
    src: url('../../fonts/Raleway ExtraLight.eot');
	src: url('../../fonts/Raleway ExtraLight.woff2') format('woff2'),
		url('../../fonts/Raleway ExtraLight.woff') format('woff'),
		url('../../fonts/Raleway ExtraLight.ttf') format('fft'),
		url('../../fonts/Raleway ExtraLight.svg') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Raleway Light';
    src: url('../../fonts/Raleway Light.eot');
	src: url('../../fonts/Raleway Light.woff2') format('woff2'),
		url('../../fonts/Raleway Light.woff') format('woff'),
		url('../../fonts/Raleway Light.ttf') format('ttf'),
		url('../../fonts/Raleway Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}