// colors
// names taken from https://colors.artyclick.com/color-name-finder/
$white: #FFFFFF;
$cashmere: #E0BEA2;
$cashmere_75: rgba(224, 190, 162, 0.75);
$dark-jungle-green: #252525;
$dark-jungle-green_50: rgba(37, 37, 37, 0.5);
$fawn: #CCA88A;

// fonts
$font-bold: 'Raleway Bold', sans-serif;
$font-extra-light: 'Raleway ExtraLigh', sans-serif;
$font-light: 'Raleway Light', sans-serif;

